/* #PRODUIRE{fond=css/vignettes.css}
   md5:ba95b034877fa25b39ee4d5ca6315839 */
.vignette_extension {
	background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/defaut.svg);
	background-repeat:no-repeat;
	background-position: center left;
}

.vignette_extension.3gp{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/3gp.svg) }
.vignette_extension.aac{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/aac.svg) }
.vignette_extension.abw{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/abw.svg) }
.vignette_extension.ai{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ai.svg) }
.vignette_extension.aiff{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/aiff.svg) }
.vignette_extension.anx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/anx.svg) }
.vignette_extension.asf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/asf.svg) }
.vignette_extension.avi{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/avi.svg) }
.vignette_extension.axa{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/axa.svg) }
.vignette_extension.axv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/axv.svg) }
.vignette_extension.bin{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/bin.svg) }
.vignette_extension.blend{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/blend.svg) }
.vignette_extension.bmp{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/bmp.svg) }
.vignette_extension.bz2{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/bz2.svg) }
.vignette_extension.c{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/c.svg) }
.vignette_extension.cls{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/cls.svg) }
.vignette_extension.css{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/css.svg) }
.vignette_extension.csv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/csv.svg) }
.vignette_extension.deb{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/deb.svg) }

.vignette_extension.djvu{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/djvu.svg) }
.vignette_extension.doc{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/doc.svg) }
.vignette_extension.docm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/docm.svg) }
.vignette_extension.docx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/docx.svg) }
.vignette_extension.dotm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/dotm.svg) }
.vignette_extension.dotx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/dotx.svg) }
.vignette_extension.dv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/dv.svg) }
.vignette_extension.dvi{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/dvi.svg) }
.vignette_extension.eps{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/eps.svg) }
.vignette_extension.epub{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/epub.svg) }
.vignette_extension.f4a{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/f4a.svg) }
.vignette_extension.f4b{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/f4b.svg) }
.vignette_extension.f4p{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/f4p.svg) }
.vignette_extension.f4v{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/f4v.svg) }
.vignette_extension.flac{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/flac.svg) }
.vignette_extension.flv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/flv.svg) }
.vignette_extension.gif{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/gif.svg) }
.vignette_extension.gz{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/gz.svg) }
.vignette_extension.h{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/h.svg) }
.vignette_extension.html{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/html.svg) }
.vignette_extension.jpg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/jpg.svg) }
.vignette_extension.kml{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/kml.svg) }
.vignette_extension.kmz{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/kmz.svg) }
.vignette_extension.m4a{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/m4a.svg) }
.vignette_extension.m4b{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/m4b.svg) }
.vignette_extension.m4p{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/m4p.svg) }
.vignette_extension.m4u{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/m4u.svg) }
.vignette_extension.m4v{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/m4v.svg) }
.vignette_extension.mid{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mid.svg) }
.vignette_extension.mka{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mka.svg) }
.vignette_extension.mkv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mkv.svg) }
.vignette_extension.mng{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mng.svg) }
.vignette_extension.mov{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mov.svg) }
.vignette_extension.mp3{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mp3.svg) }
.vignette_extension.mp4{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mp4.svg) }
.vignette_extension.mpc{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mpc.svg) }
.vignette_extension.mpg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/mpg.svg) }
.vignette_extension.odb{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odb.svg) }
.vignette_extension.odc{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odc.svg) }
.vignette_extension.odf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odf.svg) }
.vignette_extension.odg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odg.svg) }
.vignette_extension.odi{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odi.svg) }
.vignette_extension.odm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odm.svg) }
.vignette_extension.odp{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odp.svg) }
.vignette_extension.ods{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ods.svg) }
.vignette_extension.odt{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/odt.svg) }
.vignette_extension.oga{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/oga.svg) }
.vignette_extension.ogg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ogg.svg) }
.vignette_extension.ogv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ogv.svg) }
.vignette_extension.ogx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ogx.svg) }
.vignette_extension.otg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/otg.svg) }
.vignette_extension.otp{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/otp.svg) }
.vignette_extension.ots{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ots.svg) }
.vignette_extension.ott{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ott.svg) }
.vignette_extension.pas{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pas.svg) }
.vignette_extension.pascal{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pascal.svg) }
.vignette_extension.pdf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pdf.svg) }
.vignette_extension.pgn{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pgn.svg) }
.vignette_extension.png{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/png.svg) }
.vignette_extension.potm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/potm.svg) }
.vignette_extension.potx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/potx.svg) }
.vignette_extension.ppam{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ppam.svg) }
.vignette_extension.pps{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pps.svg) }
.vignette_extension.ppsm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ppsm.svg) }
.vignette_extension.ppsx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ppsx.svg) }
.vignette_extension.ppt{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ppt.svg) }
.vignette_extension.pptm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pptm.svg) }
.vignette_extension.pptx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/pptx.svg) }
.vignette_extension.ps{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ps.svg) }
.vignette_extension.psd{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/psd.svg) }
.vignette_extension.qt{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/qt.svg) }
.vignette_extension.ra{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ra.svg) }
.vignette_extension.ram{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ram.svg) }
.vignette_extension.rm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/rm.svg) }
.vignette_extension.rpm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/rpm.svg) }
.vignette_extension.rtf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/rtf.svg) }
.vignette_extension.sdd{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sdd.svg) }
.vignette_extension.sdw{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sdw.svg) }
.vignette_extension.sit{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sit.svg) }
.vignette_extension.smil{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/smil.svg) }
.vignette_extension.spip{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/spip.svg) }
.vignette_extension.spx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/spx.svg) }
.vignette_extension.sty{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sty.svg) }
.vignette_extension.svg{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/svg.svg) }
.vignette_extension.swf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/swf.svg) }
.vignette_extension.sxc{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sxc.svg) }
.vignette_extension.sxi{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sxi.svg) }
.vignette_extension.sxw{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/sxw.svg) }
.vignette_extension.tex{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/tex.svg) }
.vignette_extension.tgz{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/tgz.svg) }
.vignette_extension.tif{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/tif.svg) }
.vignette_extension.torrent{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/torrent.svg) }
.vignette_extension.ttf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/ttf.svg) }
.vignette_extension.txt{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/txt.svg) }
.vignette_extension.wav{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/wav.svg) }
.vignette_extension.webm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/webm.svg) }
.vignette_extension.wma{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/wma.svg) }
.vignette_extension.wmv{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/wmv.svg) }
.vignette_extension.xcf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xcf.svg) }
.vignette_extension.xlam{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xlam.svg) }
.vignette_extension.xls{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xls.svg) }
.vignette_extension.xlsb{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xlsb.svg) }
.vignette_extension.xlsm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xlsm.svg) }
.vignette_extension.xlsx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xlsx.svg) }
.vignette_extension.xltm{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xltm.svg) }
.vignette_extension.xltx{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xltx.svg) }
.vignette_extension.xml{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xml.svg) }
.vignette_extension.xspf{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/xspf.svg) }
.vignette_extension.zip{ background-image:url(https://gear.rw/plugins-dist/medias/prive/vignettes/zip.svg) }
